<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Real Siri</title>
		<link href="stylesheets/style.css" rel="stylesheet">
	    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

	</head>
	<body>
		<div class="content">
			<div class="header">
				<nav class="navbar navbar-default">
				  <div class="container-fluid">
				    <div class="navbar-header">
				      <a class="navbar-brand" href="#">Real Siri</a>
				    </div>
				  </div>
				</nav>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-9">
						<div class="page-header">
							<h1>さっそく何か質問してみよう！</h1>
							<h5>あなたの名前は「<%=name%>」です。</h5>
						</div>

						<div id="logs"></div>
						
					</div>
				</div>
			</div>
			<div id="scroll"></div>
		</div>
		<footer class="footer">
			<div class="container">
				<form id="myForm">
					<div class="form-group">
					  <div class="input-group">
					    <input type="text" id="msg" class="form-control" placeholder="豊洲のおいしいランチおしえて">
					    <input type="hidden" id="name" value="<%=name%>">
					    <span class="input-group-btn">
					      <button class="btn btn-default" type="submit">つぶやく</button>
					    </span>
					  </div>
					</div>
				</form>
			 </div>
		</footer>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script src="javascripts/bootstrap.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script>
			$(function(){
				var socket = io.connect();
				$('#myForm').submit(function(e){
					e.preventDefault();
					socket.json.emit('emit_from_client',{
						msg: $('#msg').val(),
						name: $('#name').val()
					});
					$('#msg').val('').focus();
					$(window).scrollTop($('#scroll').offset().top);
				});
				socket.on('emit_from_server',function(data){
					$('#logs').append(data);
				});

			});
		</script>
		
	</body>
</html>