<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Real Siri</title>

	    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

	</head>
	<body class>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">Real Siri</a>
		    </div>
		  </div>
		</nav>
		<div class="container">
			<div class="row">
				<div class="col-lg-9">
					<div class="page-header">
						<h1>ようこそ</h1>
					</div>
					<form action="/login" method="post">
						<div class="form-group">
						    <input type="text" class="form-control" placeholder="name">
						</div>
						<div class="form-group">  
						    <input type="password" class="form-control" placeholder="password">
						</div>
						<button class="btn btn-default" type="submit">Login</button>
					</form>
				</div>
			</div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script src="javascripts/bootstrap.min.js"></script>
	</body>
</html>