html {
  position: relative;
  min-height: 100%;
}
.content {
  /* Margin bottom by footer height */
  
  margin-bottom: 150px;
}
.footer {  /*<footer class="footer">*/
  position: fixed;
  padding-top: 7px;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 54px;
  background-color: #4e5d6c;
}